
.flotante{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;      
    z-index: 25;
    width: 600px;
    height: 400px;
    position: absolute;
    background-color: black;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    transform: translate(50%, 50%,);
    right: 50%;
    overflow: hidden;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    h2{
        color: white;
        font-family: $letra;
        font-size: 35px;
    }
    p{
        color: white;
        font-family: $letra2;
    }
    a{
        color: white;
        font-family: $letra2;
    }
}