
.flotante{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;   
    text-align: center;   
    width: 500px;
    height: 400px;
    position: absolute;
    z-index: 25;    
    transform: translate(50%, 50%,);
    right: 50%;
    background-color: black;
    color: white;
    overflow: hidden;
    h2{
        font-family: $letra;
        font-size: 35px;
    }
    p{
        font-family: $letra2;
    }
    a{
        color: white;
       font-family: $letra2;
    }
}